@import url("https://fonts.googleapis.com/css?family=Karma");

body {
  font-family: "Karma", serif;
  background-color: hsl(0, 0%, 85%);
}

h3 {
  font-size: 4rem;
  color: #0d47a1;
}

h4 {
  font-size: 2rem;
  font-family: "Crete Round", serif;
}

p {
  font-size: 1.2rem;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 1.5;
}

section img {
  width: 100%;
  height: auto;
}

main {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
}

footer {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 2rem;
  background-color: #0d47a1;
  color: hsl(0, 0%, 85%);
}

#landing {
  width: 100vw;
  height: 100vh;
}

#video {
  width: auto;
  height: 100vh;
  position: fixed;
  z-index: -1000;
}

#video video {
  width: auto;
  height: 100vh;
  -webkit-transform: scaleX(1.8);
  -moz-transform: scaleX(1.8);
  transform: scaleX(1.8);
}

#logo-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: grid;
  grid-template-rows: 25% 25% 25%;
  grid-template-columns: 50% 50%;
}

#first-title {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  font-size: 9rem;
  margin-right: 4rem;
}

#second-title {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  font-size: 9rem;
  margin-right: 4rem;
}

#third-title {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  font-size: 9rem;
  margin-right: 4rem;
}

#subtitle {
  grid-row: 3/5;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  text-align: left;
  font-size: 4rem;
  margin-left: 4rem;
  color: hsl(0, 0%, 85%);
  width: 80%;
}

#ausUsStats h3 {
  padding: 3rem;
}

#chart {
  width: 60%;
  margin-right: 3rem;
}

.heroPic1 {
  background-image: url("../assets/portarther.jpg");
}

.heroPic2 {
  background-image: url("../assets/guns.jpg");
}

.heroPic3 {
  background-image: url("../assets/parkland.jpg");
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-0.5px) scale(1.5);
  z-index: -1;
  position: relative;
}

.hero div {
  position: absolute;
  top: 60%;
  left: 15%;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

.about {
  font-style: italic;
  margin: 1rem;
}

#ausUsStats {
  background-color: white;
}

#ausUsStats p {
  width: 25%;
  margin-left: 3rem;
}

#ausUsStats > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photoCaption {
  max-width: 30%;
  color: white;
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0.7rem;
}

#map-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 12vh 10vh 65vh 13vh;
}

#map-container h3 {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 4rem;
  justify-self: start;
  align-self: end;
  margin-left: 3rem;
}

#select {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-self: center;
}

#form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-self: center;
}

#form h4 {
  margin: 0rem 2rem;
  font-size: 1.4rem;
}

#form select {
  font-size: 1rem;
}

#form input {
  margin-left: 2rem;
  font-size: 1.5rem;
  background-color: #0d47a1;
  color: white;
  padding: 0rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

#form input:hover {
  background-color: #093981;
}

#map-compare {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  width: 68vw;
  height: 63vh;
}

#data {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

#state-data {
  width: 23vw;
  height: 60vh;
  border: solid black 1px;
  display: grid;
  grid-template-columns: 15vw 8vw;
  grid-template-rows: 5vh 13vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
}

#title-more-info {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.7rem;
  justify-self: center;
  align-self: center;
}

#name {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.6rem;
  justify-self: center;
  align-self: center;
  margin-left: 0.5rem;
  color: #0d47a1;
}

#image {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  width: 6rem;
  height: 6rem;
}

#gunOwners {
  grid-row: 3/4;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: start;
  align-self: center;
  margin-left: 0.5rem;
}

#gunOwners2 {
  grid-row: 4/5;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
  color: #0d47a1;
  font-size: 1.5rem;
}

#deaths {
  grid-row: 5/6;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: start;
  align-self: center;
  margin-left: 0.5rem;
}

#deaths2 {
  grid-row: 6/7;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
  color: #0d47a1;
  font-size: 1.5rem;
}

#grade {
  grid-row: 7/8;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: start;
  align-self: center;
  margin-left: 0.5rem;
}

#grade2 {
  grid-row: 8/9;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
  color: #0d47a1;
  font-size: 1.5rem;
}

#rank {
  grid-row: 9/10;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: start;
  align-self: center;
  margin-left: 0.5rem;
}

#rank2 {
  grid-row: 10/11;
  grid-column: 1/3;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
  color: #0d47a1;
  font-size: 1.5rem;
}

#keys {
  grid-row: 4/5;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

#sources {
  grid-row: 4/5;
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 3rem;
}

#sources a {
  width: 100%;
  font-size: 0.6rem;
  margin: 0rem 0rem 0.4rem 0rem;
  text-decoration: none;
  text-align: right;
  color: #0d47a1;
}

#keys img {
  height: 100%;
  width: 40%;
}

.state:hover {
  fill: #0d47a1;
  cursor: pointer;
}

#groupInfo {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#groupInfo > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100%;
}

.person {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.person a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h5 {
  font-size: 40px;
  padding: 1rem;
  background-color: #093981;
}

.c3-line {
  stroke-width: 5px;
}

h6 {
  font-size: 30px;
  margin: 1rem 0;
}

#poweredBy {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#poweredBy div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 3rem;
}

#poweredBy img,
.person img {
  height: 3rem;
}

.poweredByItem {
  font-size: 3rem;
}

#articleSources {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

#articleSources ul {
  max-width: 25%;
  list-style: square;
}

#articleSources li {
  margin: 0.5rem 0;
}

#poweredBy a,
#articleSources a {
  text-decoration: none;
  color: darkgray;
}

li {
  margin: 0.2rem;
}
